# from original repository
data/*
.Rhistory
.Rdata
.DS_Store
.Rproj.user

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports

# Environments
venv/

# Jupyter notebook
.ipynb_checkpoints

# Old folders
MergedData/
OriginalData/
WorkingPython/
