# from original repository
data/*
.Rhistory
.Rdata
.DS_Store
.Rproj.user

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports

# Environments
venv/

# Jupyter notebook
.ipynb_checkpoints

# HTML 
html/
*.html

# working files; not ready for addition to repository
WorkingPython/
notebooks/WorkingNotebooks/

# Old folders
MergedData/
OriginalData/
